:root {
  --grey-1: linear-gradient(180deg, rgba(71,71,71,1) 0%, rgba(167,172,180,1) 100%);
  --grey-2: #424242;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #ff9900 url("/assets/img/dots.webp") repeat;
  background-size: 9rem;
}

#root {
  display: flex;
  flex-direction: column;
  width: 85rem;
  min-width: 85rem;
  min-height: 50rem;
  background: var(--grey-1);
  box-shadow: 0 0 10rem rgba(0, 0, 0, 0.34) inset;
  border: 15px solid gray;
  border-bottom: 50rem solid gray;
}

#root header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh;
  box-shadow: 1px 18px 9px -2px rgba(48, 48, 48, 0.75);
}

.header-inside {
  background: #ff9900;
  box-shadow: 0 0 8rem hsl(36deg 100% 69.4%) inset;
  border: .5rem solid #fff;
  box-sizing: border-box;
  border-radius: .5rem;
  width: 90%;
  height: 90%;
}

.header-inside h1 {
  font-family: "Arial Black";
  font-size: 3rem;
  color: #fff;
  margin-left: 3rem;
}

.middle {
  display: flex;
  width: 100%;
  height: 50vh;
  padding: 1rem 4rem;
  box-sizing: border-box;
}

.monitor-panel {
  display: flex;
  width: 50%;
  background: var(--grey-2);
  box-shadow: 0 0 3rem hsla(0, 0%, 0%, 0.38) inset;
  justify-content: center;
  align-items: center;
  border: .25rem solid #272727;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}

.monitor-container {
  display: flex;
  position: relative;
  width: 90%;
  height: 85%;
  animation: textShadow .15s infinite;

  &::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
  }
  &::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
}

.monitor {
  display: flex;
  font-family: Roboto, sans-serif;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  background: url("/assets/img/bg.png") no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 3rem #00000061;
}

.monitor-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 75%;
  padding-bottom: 1rem;
  gap: .25rem;
}

.monitor-buttons button {
  width: 6rem;
  height: 3rem;
  color: #dcd8d8;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.25) inset;
}

.monitor-buttons-left button {
  margin-left: .5rem;
  margin-right: .15rem;
  border-radius: 0 1rem 1rem 0;
}

.monitor-buttons-right button {
  margin-right: .5rem;
  margin-left: .15rem;
  border-radius: 1rem 0 0 1rem;
}

.monitor-buttons button:active {
  transform: scale(.98);
  box-shadow: 0 0 .5rem #000 inset;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  perspective: 32rem;
  perspective-origin: 50% 50%;
}

.buttons {
  display: flex;
  background: var(--grey-2);
  box-shadow: 0 0 3rem hsla(0, 0%, 0%, 0.38) inset;
  width: 16rem;
  height: 13rem;
  padding: 1rem;
  gap: 1rem;
  box-sizing: border-box;
  transform: scale3d(1, 1, 1)rotateX(50deg)rotateY(0)rotateZ(0)translate3d(0, 8rem, 0)skew(0deg);
}

.keypad {
  display: grid;
  width: 75%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: .25rem;
}

.buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

button.btn-special {
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 500;
}

.keypad button {
}

.primary-buttons button {

}

button {
  &.btn-red {
    background: #ff0000;
  }

  &.btn-yellow {
    background: #ffc842;
  }

  &.btn-green {
    background: #0b9b00;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    line-height: 1;
    font-size: 1.175rem;
  }
}

.primary-buttons {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 25%;
  gap: .25rem;
}

#root footer {
  width: 100%;
  height: 0;
  padding: 1rem;
  border-bottom: 13.35rem solid #555;
  border-left: 4rem solid transparent;
  border-right: 4rem solid transparent;
  box-sizing: border-box;
}

aside {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.aside-top {
  width: 100%;
  height: 25%;
  display: flex;
}

.cardholder {
  display: flex;
  width: 15rem;
  height: 3rem;
  margin: 0 2rem;
  border: 1rem solid #ff9900;
  border-radius: 40%;
  background: #000;
  box-sizing: border-box;
  box-shadow: 1px 5px 9px -2px #303030bf;
}


.m-notice-top {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background: rgba(0, 16, 68, 0.78);
  padding-top: 1rem;

  h2, h3 {
    line-height: 1;
    margin: .5rem;
  }

  h3 {
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: .5rem;
    box-sizing: border-box;
    color: #ff9900;
    margin-bottom: 0;
  }

  &:not(:has(h3)) {
    padding-bottom: .75rem;
  }
}

.m-text-bottom {
  margin-top: auto;
  color: #fff;

  h3 {
    font-size: 1.5rem;
  }
}

.keypad-print {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;

  span {
    color: #fff;
    font-size: 3rem;
    line-height: 1;
    text-align: center;
  }
}

.header-bottom {
  border-top: 50px solid rgb(79, 79, 79);
  border-left: 4rem solid transparent;
  border-right: 4rem solid transparent;
  height: 0;
  width: 100%;
  box-sizing: border-box;
}

nav.m-nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1fr, 1fr);
  margin-top: auto;
  padding-bottom: 3vh;
  gap: .25rem;

  div {
    display: flex;
    align-items: center;
    height: 3rem;
    padding: 0 1rem;

    &.end {
      justify-content: flex-end;
    }

    p {
      font-size: 1.5rem;
      color: #fff;
      text-decoration: none;
      white-space: nowrap;
    }
  }
}
